.expandOpen{
    transform: rotate(0deg);
    transition: transform;
    transition-duration:1s;
    margin-left: auto;
}
.expand{
    transform: rotate(180deg);
    margin-left: auto;
}
.cardBtn{
    margin-left: auto;
}